@use "./base/variables" as *;

@import url("./reset.scss");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

body {
  background-color: $primary;
  color: $secondary;
  font-family: Oswald;
  box-sizing: border-box;
}
